.detail-specialty-container {
    .des-specialty {
        border: 1px solid red;
        height: 300px;

    }


    .each-doctor {
        display      : flex;
        width        : 100%;
        min-height   : 300px;
        border       : 1px solid lightgrey;
        margin       : 15px 0;
        padding      : 5px;
        border-radius: 5px;
        box-shadow   : 1px 1px 5px 0px #e3e3e3;

        .content-left {
            width       : 25%;
            margin-right: 20px;
            border-right: 1px solid #f1f1f1;
            padding     : 5px;
            text-align  : center;
        }
    }

    .content-right {
        width  : 75%;
        padding: 5px;

    }

}