@import "../styles/common.scss";

.custom-scrollbar {
  .thumb-horizontal {
    display: none !important; /* Ẩn thanh cuộn chiều ngang */
  }

  .thumb-vertical {
    background-color: gray; /* Màu xám */
    box-shadow: inset 1px 1px 0 rgba(gray, 0.10), inset 0 -1px 0 rgba(gray, 0.07);

    &:hover {
      background-color: lightgray; /* Màu xám sáng khi hover */
      box-shadow: inset 1px 1px 1px rgba(gray, 0.50);
    }

    &:active {
      background-color: darkgray; /* Màu xám đậm khi active */
      box-shadow: inset 1px 1px 3px rgba(gray, 0.6);
    }
  }

  &:hover {
    > .track-horizontal {
      display: none; /* Ẩn thanh cuộn track chiều ngang */
    }

    > .track-vertical {
      opacity: 1 !important;

      > .thumb-vertical {
        opacity: 1;
      }
    }
  }

  .track-vertical {
    right: 0;
    bottom: 0;
    top: 0;
    width: 5px !important;
    &:hover, &:active {
      width: 10px !important;
    }
  }
}
