.doctor-detail-container {
    height          : 500px;
    // padding      : 20px 100px;
    margin-bottom   : 50px;

    .intro-doctor {
        border-top: 1px solid black;
        display   : flex;
        height    : 200px;
        margin-top: 20px;
        padding   : 30px 100px;



        .content-left {
            width: 20%;

            .img-custom {
                .bg-image {
                    border-radius      : 100px;
                    margin             : 0 55px;
                    width              : 50%;
                    height             : 130px;
                    background-image   : url('../../../assets/images/bacSi.png');
                    background-position: center center;
                    background-repeat  : no-repeat;
                    background-size    : cover;
                    background-color   : aliceblue;

                }
            }



        }

        .content-right {
            padding-left  : 10px;
            width         : 80%;
            display       : flex;
            flex-direction: column;

            
            .up {
                font-size  : 20px;
                font-weight: 500;
                padding-top: 5px;
                span.text-custom{
                    height: fit-content;
                    margin-top: 5px;
                    font-weight: 600;
                    white-space: nowrap; /* Ngăn văn bản xuống dòng */
                    overflow: hidden; /* Ẩn văn bản bị tràn ra ngoài */
                    text-overflow: ellipsis; /* Hiển thị dấu "..." khi văn bản quá dài */
                    max-width: 100%; /* Đặt giới hạn chiều rộng tối đa */
            }
            }

            .down {
                padding-top: 10px;

            }

        }

    }

    .schedule-doctor {
        display: flex;
        margin : 0 100px;
        height : 200px;

        .content-left {
            width : 100%;

        }

        .content-right {

        }
    }

    .detail-intor-doctor {
        margin-top: 5px;
        background: #f3f9ff;
        padding   : 30px 100px;
    }

    .comment-doctor {}
}