.Manage-specialty-container{
    .btn-add-new-specialty{
        
    }

    .specialty-group{
        label.text-custom{
            border       : none;
            background   : #0da9fa;
            padding      : 2px 8px;
            border-radius: 3px;
            margin-bottom: 5px;
            color        : aliceblue;
            font-weight  : 500;
        }

    }
}
