.login-background{
    height: 100vh;
    background: -webkit-linear-gradient(#e71bff2e, #16b2ed75);


    .login-container{
        width: 400px;
        height: 400px;
        border-radius: 10px;        
        background: white;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

        .login-title{
            height: 100px;
            font-size: 50px;
            line-height: 100px;
            font-weight: bold;
            background: -webkit-linear-gradient(#ff00ce 5%, #07c6ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            

        }

        .login-input{
            font-size: 15px;
            font-weight: bold;
            color: #ab3ddb;
            -webkit-background-clip: text;
            


        }

        .login-btn{
            width: 75%;
            height: 35px;
            border: 1px solid #fff;
            border-radius: 6px;
            background: -webkit-linear-gradient(#ba5be3, #67c2fd);

        }
    }
}
