.Section-About{
    margin: 0 100px;
    border-top: 1px solid;
    // border-bottom: 1px solid;
    height: 500px !important;
    
    .About-header{
        padding: 20px 10px;
        font-size: 22px;
        font-weight: 600;

        .About-content{
            padding: 20px 10px;
            font-size: 20px;


            .content-left{

            }

            .content-right{

            }
        }

    }
}