
.Section-Service {

    height: 40vh; /* Sử dụng 'vh' để đại diện cho 20% chiều cao của màn hình */
    background: white;
    // border: 1px solid red;
    margin: 0 5%;

    .Service-container {
      margin-top: 50px;
    

    span {
        font-size: 22px;
        font-weight: 600;
    }
    

    .Section-container {
        margin: 0 100px;  
       
    }
    
    .Service-body {
        // border: 1px solid red;

        .Service-custom {
            padding: 15px;
            background: #debdb963;
            border: 8px solid white;
            border-radius: 25px;
            background-image: linear-gradient(rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0.77), rgba(255, 255, 255, 0.97));
            box-shadow: inset 0px 0px 9px 0px rgba(0, 0, 0, 0.1);


            .Service-custom-down{
                // border: 1px solid red;
                grid-gap: 5px;
                display: grid;
                // height: ;

                .text-one{
                    margin-left: 5px;
                    height: fit-content;
                    margin-top: 5px;
                    font-weight: 600;
                    white-space: nowrap; /* Ngăn văn bản xuống dòng */
                    overflow: hidden; /* Ẩn văn bản bị tràn ra ngoài */
                    text-overflow: ellipsis; /* Hiển thị dấu "..." khi văn bản quá dài */
                    max-width: 100%; /* Đặt giới hạn chiều rộng tối đa */
                }

                .gia{
                    margin-left: 5px;
                    font-weight: 500;
                    color: #ffc107;
                }
                .time{
                    margin-left: 5px;
                    font-weight: 500;
                    color: #6c757d;
                }
                .fa-stethoscope:before {
                    margin-left: 5px;
                    color: #0dcaf0;
                    margin-right: 4px;
                    content: "\f0f1";
                }
                button{
                        margin-left: 5px;
                        width: 100px;
                        background: #58d7f1;
                        border: none;
                        border-radius: 5px;
                        height: 30px;
                        color: white;
                        margin-left: 3px;
                        margin-top: 3px;

                        &:hover {
                            border-color: #a97b59; /* Change the border color on hover */
                            transform: scale(1.05); /* Increase the size of the icon on hover */                        }

                }
            }

            .bg-image1{
                border-radius: 5px;
                margin-left: 7px;
                width: 95%; /* Sử dụng 'vw' để đại diện cho 50% chiều rộng của màn hình */
                height: 30vh; /* Sử dụng 'vh' để đại diện cho 25% chiều cao của màn hình */
                background: url('../../../assets/ClinicService/GiamCam.jpg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: aliceblue;

            }
            .bg-image2{
                border-radius: 5px;
                margin-left: 7px;                width: 95%; /* Sử dụng 'vw' để đại diện cho 50% chiều rộng của màn hình */
                height: 30vh; /* Sử dụng 'vh' để đại diện cho 25% chiều cao của màn hình */
                background: url('../../../assets/ClinicService/trietLong.png');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: aliceblue;

            }
            .bg-image2{
                border-radius: 5px;
                margin-left: 7px;                width: 95%; /* Sử dụng 'vw' để đại diện cho 50% chiều rộng của màn hình */
                height: 30vh; /* Sử dụng 'vh' để đại diện cho 25% chiều cao của màn hình */
                background: url('../../../assets/ClinicService/mesoMun.png');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: aliceblue;

            }
            .bg-image3{
                border-radius: 5px;
                margin-left: 7px;                width: 95%; /* Sử dụng 'vw' để đại diện cho 50% chiều rộng của màn hình */
                height: 30vh; /* Sử dụng 'vh' để đại diện cho 25% chiều cao của màn hình */
                background: url('../../../assets/ClinicService/trietLong.png');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: aliceblue;

            }
            .bg-image4{
                border-radius: 5px;
                margin-left: 7px;                width: 95%; /* Sử dụng 'vw' để đại diện cho 50% chiều rộng của màn hình */
                height: 30vh; /* Sử dụng 'vh' để đại diện cho 25% chiều cao của màn hình */
                background: url('../../../assets/ClinicService/treHoa.jpg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: aliceblue;

            }
            .bg-image5{
                border-radius: 5px;
                margin-left: 7px;                width: 95%; /* Sử dụng 'vw' để đại diện cho 50% chiều rộng của màn hình */
                height: 30vh; /* Sử dụng 'vh' để đại diện cho 25% chiều cao của màn hình */
                background: url('../../../assets/ClinicService/Co.jpg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: aliceblue;

            }
            .bg-image6{
                border-radius: 5px;
                margin-left: 7px;                width: 95%; /* Sử dụng 'vw' để đại diện cho 50% chiều rộng của màn hình */
                height: 30vh; /* Sử dụng 'vh' để đại diện cho 25% chiều cao của màn hình */
                background: url('../../../assets/ClinicService/danong.jpg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: aliceblue;

            }
        }

        button.slick-arrow.slick-prev, button.slick-arrow.slick-next {
            z-index: 1000 !important;
            height: 4vh; /* Sử dụng 'vh' để đại diện cho 4% chiều cao của màn hình */
            width: 3.7vw; /* Sử dụng 'vw' để đại diện cho 3.7% chiều rộng của màn hình */
            background: white !important;
            border: 2px solid rgb(234, 234, 234) !important;

            &:hover {
                background: rgb(234, 234, 234) !important;
            }
        }
        .slick-prev::before, .slick-next::before {
            font-family: 'Glyphicons Halflings' !important;
            color: black !important;
            // content: "\e258" !important;
        }


    }
}
}
