
.Section-HandBook {

    height: 40vh; /* Sử dụng 'vh' để đại diện cho 20% chiều cao của màn hình */
    background: white;
    margin: 0 5%;
    

    .HandBook-container{
        margin-top: 50px;

        .HandBook-title {
            display: flex;
            justify-content: space-between;

            
             span {
                font-size: 22px;
                font-weight: 600;
                 }

           
            .HandBook-title-two{
                font-weight: 700;
                margin-right: 12px;

                &:hover {
                    color: #059ad4;                       
                 }
                
            }
           
        }
       
    
    
    .HandBook-body {
        // border: 1px solid red;

        .HandBook-custom {
                padding: 15px;
                background: #6bd0f3b0;
                border: 8px solid white;
                border-radius: 25px;
                background-image: linear-gradient(rgba(13, 220, 192, 0.0), rgba(255, 255, 255, 0.71), rgba(255, 255, 255, 0.88));

            .HandBook-custom-down{
                grid-gap: 5px;
                display: grid;


                .text-one{
                    height: fit-content;
                    font-weight: 700;
                    color: #000000c2;
                    margin-left: 10px;
                    margin-top: 2px;
                    font-size: 15px;
                    white-space: nowrap; /* Ngăn văn bản xuống dòng */
                    overflow: hidden; /* Ẩn văn bản bị tràn ra ngoài */
                    text-overflow: ellipsis; /* Hiển thị dấu "..." khi văn bản quá dài */
                    max-width: 100%; /* Đặt giới hạn chiều rộng tối đa */
                }

                .text-child{
                    margin-left: 10px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3; /* Hiển thị chỉ 1/4 nội dung */
                    -webkit-box-orient: vertical;
                }

                .see-more{
                        color: #ae964f;
                        ;
                        margin-left: 10px;
                        cursor: pointer;

                        &:hover {
                            color: #fdd353;                        }

                }
            }

            .bg-image1{
                border-radius: 5px;
                margin-left: 10px;
                width: 95%; /* Sử dụng 'vw' để đại diện cho 50% chiều rộng của màn hình */
                height: 30vh; /* Sử dụng 'vh' để đại diện cho 25% chiều cao của màn hình */
                background: url('../../../assets/HandBook/anessa.png');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: aliceblue;

            }
            .bg-image2{
                border-radius: 5px;
                margin-left: 10px;
                width: 95%; /* Sử dụng 'vw' để đại diện cho 50% chiều rộng của màn hình */
                height: 30vh; /* Sử dụng 'vh' để đại diện cho 25% chiều cao của màn hình */
                background: url('../../../assets/HandBook/retionl.jpg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: aliceblue;

            }
            .bg-image3{
                border-radius: 5px;
                margin-left: 10px;
                width: 95%; /* Sử dụng 'vw' để đại diện cho 50% chiều rộng của màn hình */
                height: 30vh; /* Sử dụng 'vh' để đại diện cho 25% chiều cao của màn hình */
                background: url('../../../assets/HandBook/lanei.jpg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: aliceblue;

            }
            .bg-image4{
                border-radius: 5px;
                margin-left: 10px;
                width: 95%; /* Sử dụng 'vw' để đại diện cho 50% chiều rộng của màn hình */
                height: 30vh; /* Sử dụng 'vh' để đại diện cho 25% chiều cao của màn hình */
                background-position: center center;
                background: url('../../../assets/HandBook/laohoa.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-color: aliceblue;

            }
            .bg-image5{
                border-radius: 5px;
                margin-left: 10px;
                width: 95%; /* Sử dụng 'vw' để đại diện cho 50% chiều rộng của màn hình */
                height: 30vh; /* Sử dụng 'vh' để đại diện cho 25% chiều cao của màn hình */
                background: url('../../../assets/HandBook/tranhMun.jpg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: aliceblue;

            }
            .bg-image6{
                border-radius: 5px;
                margin-left: 10px;
                width: 95%; /* Sử dụng 'vw' để đại diện cho 50% chiều rộng của màn hình */
                height: 30vh; /* Sử dụng 'vh' để đại diện cho 25% chiều cao của màn hình */
                background: url('../../../assets/HandBook/da.jpg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: aliceblue;

            }
           
        }

        button.slick-arrow.slick-prev, button.slick-arrow.slick-next {
            z-index: 1000 !important;
            height: 4vh; /* Sử dụng 'vh' để đại diện cho 4% chiều cao của màn hình */
            width: 3.7vw; /* Sử dụng 'vw' để đại diện cho 3.7% chiều rộng của màn hình */
            background: white !important;
            border: 2px solid rgb(234, 234, 234) !important;

            &:hover {
                background: rgb(234, 234, 234) !important;
            }
        }
        .slick-prev::before, .slick-next::before {
            font-family: 'Glyphicons Halflings' !important;
            color: black !important;
            // content: "\e258" !important;
        }

    
}
}
}