.Section-OutStandingDoctor {

    height       : 40vh;
    /* Sử dụng 'vh' để đại diện cho 20% chiều cao của màn hình */
    background   : white;
    // border: 1px solid red;
    margin       : 0 5%;
    border-radius: 50%;

    .OutStandingDoctor-container {
        margin-top: 50px;


        span {
            font-size  : 22px;
            font-weight: 600;
        }


        .Section-container {
            margin: 0 100px;

        }

        .OutStandingDoctor-body {
            // border: 1px solid red;

            .OutStandingDoctor-custom {
                cursor          : pointer;
                padding         : 5px;
                // background: #debdb963;
                border          : 8px solid white;
                // border-radius: 25px;
                box-shadow      : inset 0px 0px 1px 2px rgba(66, 208, 231, 0.25);

                .outer-bg {
                    display        : flex;
                    justify-content: center;
                    margin-bottom  : 10px;
                    margin-top     : 10px;
                }

                .bg-image2 {
                    border-radius      : 25em;
                    margin-left        : 7px;
                    width              : 55%;
                    /* Sử dụng 'vw' để đại diện cho 50% chiều rộng của màn hình */
                    height             : 20vh;
                    /* Sử dụng 'vh' để đại diện cho 25% chiều cao của màn hình */
                    background-image   : url('../../../assets/images/bacSi.png');
                    background-position: center center;
                    background-repeat  : no-repeat;
                    background-size    : cover;
                    background-color   : aliceblue;

                }

                .position {
                    // border: 1px solid red;
                    grid-gap : 5px;
                    display  : grid;
                    // height: ;

                    .text-one {
                        margin-left  : 5px;
                        height       : fit-content;
                        font-size    : 15px;
                        font-weight  : 600;
                        white-space  : nowrap;
                        /* Ngăn văn bản xuống dòng */
                        overflow     : hidden;
                        /* Ẩn văn bản bị tràn ra ngoài */
                        text-overflow: ellipsis;
                        /* Hiển thị dấu "..." khi văn bản quá dài */
                        max-width    : 100%;
                        /* Đặt giới hạn chiều rộng tối đa */
                    }


                }


            }

            button.slick-arrow.slick-prev,
            button.slick-arrow.slick-next {
                z-index   : 1000 !important;
                height    : 4vh;
                width     : 3.7vw;
                background: white !important;
                border    : 2px solid rgb(234, 234, 234) !important;

                &:hover {
                    background: rgb(234, 234, 234) !important;
                }
            }

            .slick-prev::before,
            .slick-next::before {
                font-family: 'Glyphicons Halflings' !important;
                color      : black !important;
                // content: "\e258" !important;
            }


        }
    }
}