/* Ẩn indicators */
.carousel-indicators {
    display: none;
  }

  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    background-image: linear-gradient(rgba(13, 220, 192, 0.0), rgba(255, 255, 255, 0.71), rgba(255, 255, 255, 0.88));

}